
workspace/server/venv/

workspace/extension/recommending/node_modules/

workspace/extension/recommending/.idea/

eclipse4.17.0committers-featureide3.7.0-macosx64(2)/

docs/.DS_Store

docs/RSSE_Chapter.pdf

docs/main.pdf

eclipse_2021_09/

EclipseModel/

esempi/

featureModel/

workspace_model_esempi/

workspace/extension/recommending/.vscode/settings.json
